Repository cloudfoundry/csb-brokerpak-aws, pull requests merged in 2024-03, with the labels that each got.

#1640 feat: change SQS description to clearly state Beta
  aws-sqs.yml
  integration-tests/sqs_test.go
Labels: unscheduled

#1644 Revert "test: Change test to check the FIFO queue"
  acceptance-tests/sqs_test.go
Labels: unscheduled

#1645 test: Added FIFO queue acceptance test
  acceptance-tests/apps/sqsapp/internal/app/send.go
  acceptance-tests/sqs_test.go
Labels: unscheduled

#1648 feat: SQS user can now trigger DLQ redrive
  .gitignore
  acceptance-tests/apps/sqsapp/internal/app/app.go
  acceptance-tests/apps/sqsapp/internal/app/redrive.go
  acceptance-tests/sqs_test.go
  aws-sqs.yml
  integration-tests/sqs_test.go
  terraform-tests/sqs_test.go
  terraform/sqs/bind/data.tf
  terraform/sqs/bind/variables.tf
  terraform/sqs/provision/outputs.tf
  terraform/sqs/provision/variables.tf
Labels: unscheduled

#1650 test: Remove acciddental test focus
  acceptance-tests/sqs_test.go
Labels: unscheduled

#1652 chore: add GitHub action PR check for focused tests
  .github/workflows/focused-test.yml
Labels: unscheduled

#1620 chore: use more restrictive dependabot group patterns
  .github/dependabot.yml
Labels: unscheduled

#1671 chore: Temporarly ignore any updates of the CSB while we migrate to using OpenTofu
  .github/dependabot.yml
Labels: unscheduled

#1674 test: upgrade of SQS
  acceptance-tests/sqs_test.go
  acceptance-tests/upgrade/update_and_upgrade_sqs_test.go
Labels: unscheduled

#1681 chore: Add labeler to improve the release notes.
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yml
Labels: unscheduled

#1683 feat: migrate to OpenTofu
  go.mod
  go.sum
  manifest.yml
  terraform-tests/helpers/terraform.go
Labels: new-feature

#1693 chore: revert "chore: Temporarly ignore any updates of the CSB while …
  .github/dependabot.yml
Labels: unscheduled, chore

#1699 chore: Rely on dependabot to label PRs
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
Labels: unscheduled, chore

#1704 fix: S3 - Add dependency on aws_s3_bucket_public_access_block to reduce flakiness on provision
  terraform/s3/provision/main.tf
Labels: bug-fix
