Repository cloudfoundry/csb-brokerpak-aws, pull requests merged in 2024-06, with the labels that each got.

#1874 chore: common DynamoDB client builder
  providers/terraform-provider-csbdynamodbns/csbdynamodbns/settings.go
  providers/terraform-provider-csbdynamodbns/dynaclient/dynaclient.go
  providers/terraform-provider-csbdynamodbns/dynaclient/endpointresolverv2.go
  providers/terraform-provider-csbdynamodbns/helpers_test.go
  providers/terraform-provider-csbdynamodbns/resource_dynamodb_instance_test.go
Labels: unscheduled

#1883 chore(deps): bump github.com/cloudfoundry/cloud-service-broker/v2
  go.mod
  go.sum
Labels: unscheduled

#1901 chore(deps): bump github.com/cloudfoundry/cloud-service-broker/v2
  go.mod
  go.sum
Labels: unscheduled

#1917 feat: Update tofu to latest v1.7.2
  manifest.yml
Labels: unscheduled, new-feature

#1947 chore: Test dependencies are updated only once a week
  .github/dependabot.yml
Labels: unscheduled, chore

#1932 test: Adding test assertions to validate bindings work after an upgrade
  acceptance-tests/upgrade/update_and_upgrade_aurora_mysql_test.go
  acceptance-tests/upgrade/update_and_upgrade_aurora_postgresql_test.go
  acceptance-tests/upgrade/update_and_upgrade_dynamodb_table_test.go
  acceptance-tests/upgrade/update_and_upgrade_mssql_test.go
  acceptance-tests/upgrade/update_and_upgrade_mysql_test.go
  acceptance-tests/upgrade/update_and_upgrade_postgresql_test.go
  acceptance-tests/upgrade/update_and_upgrade_redis_test.go
  acceptance-tests/upgrade/update_and_upgrade_s3_test.go
  acceptance-tests/upgrade/update_and_upgrade_sqs_test.go
Labels: chore

#1951 test: correct plan name
  acceptance-tests/upgrade/update_and_upgrade_mysql_test.go
Labels: unscheduled, bug-fix
