Repository cloudfoundry/csb-brokerpak-aws, pull requests merged in 2024-04, with the labels that each got.

#1722 build(deps): bump github.com/cloudfoundry/cloud-service-broker
  go.mod
  go.sum
Labels: unscheduled

#1682 docs: Amazon SQS service requires new permissions
  docs/installation.md
Labels: chore

#1723 fix: vulnerability GO-2024-2687
  go.mod
  go.sum
Labels: bug-fix

#1724 fix: vulnerability GO-2024-2687 in providers
  providers/terraform-provider-csbdynamodbns/go.mod
  providers/terraform-provider-csbdynamodbns/go.sum
  providers/terraform-provider-csbmajorengineversion/go.mod
  providers/terraform-provider-csbmajorengineversion/go.sum
Labels: bug-fix

#1725 build(deps): bump github.com/cloudfoundry/cloud-service-broker
  go.mod
  go.sum
Labels: unscheduled

#1726 chore: update to csb v2
  go.mod
  go.sum
  integration-tests/aurora_mysql_test.go
  integration-tests/aurora_postgresql_test.go
  integration-tests/dynamodb_namespace_test.go
  integration-tests/dynamodb_table_test.go
  integration-tests/integration_test_suite_test.go
  integration-tests/mssql_test.go
  integration-tests/mysql_test.go
  integration-tests/postgresql_test.go
  integration-tests/redis_test.go
  integration-tests/s3_test.go
  integration-tests/sqs_test.go
  manifest.yml
  providers/terraform-provider-csbdynamodbns/go.mod
  providers/terraform-provider-csbdynamodbns/go.sum
  providers/terraform-provider-csbdynamodbns/resource_dynamodb_instance_test.go
  providers/terraform-provider-csbmajorengineversion/go.mod
  providers/terraform-provider-csbmajorengineversion/go.sum
  terraform/aurora-mysql/bind/versions.tf
  terraform/aurora-mysql/provision/versions.tf
  terraform/aurora-postgresql/bind/versions.tf
  terraform/aurora-postgresql/provision/versions.tf
  terraform/dynamodb-namespace/bind/versions.tf
  terraform/dynamodb-namespace/provision/versions.tf
  terraform/dynamodb-table/bind/versions.tf
  terraform/dynamodb-table/provision/versions.tf
  terraform/mssql/bind/versions.tf
  terraform/mssql/provision/versions.tf
  terraform/mysql/bind/versions.tf
  terraform/mysql/provision/versions.tf
  terraform/postgresql/bind/versions.tf
  terraform/postgresql/provision/versions.tf
  terraform/redis/cluster/provision/versions.tf
  terraform/s3/bind/versions.tf
  terraform/s3/provision/versions.tf
  terraform/sqs/bind/versions.tf
  terraform/sqs/provision/versions.tf
  tools/tools.go
Labels: unscheduled, chore

#1728 fix: Include random provider for redis
  terraform/redis/cluster/provision/versions.tf
Labels: unscheduled, bug-fix

#1741 chore: remove unused instance_name from dynamodb-table
  aws-dynamodb-table.yml
  terraform/dynamodb-table/provision/variables.tf
Labels: chore

#1742 test: brokerpak helper to cope with v2 CSB
  acceptance-tests/helpers/brokerpaks/brokerpaks.go
Labels: unscheduled

#1743 fix: Add terraform provider replacement to handle opentofu registry p…
  manifest.yml
Labels: bug-fix

#1750 test: update error message in SQS test app
  acceptance-tests/apps/sqsapp/internal/credentials/credentials.go
Labels: unscheduled
