Repository cloudfoundry/csb-brokerpak-aws, pull requests merged in 2024-05, with the labels that each got.

#1769 fix: invalid s3:DeleteReplicationConfiguration policy
  terraform/s3/bind/data.tf
Labels: bug-fix

#1764 chore: remove Chi from test apps
  acceptance-tests/apps/mssqlapp/go.mod
  acceptance-tests/apps/mssqlapp/go.sum
  acceptance-tests/apps/mssqlapp/internal/app/app.go
  acceptance-tests/apps/mssqlapp/internal/app/get.go
  acceptance-tests/apps/mssqlapp/internal/app/set.go
  acceptance-tests/apps/postgresqlapp/go.mod
  acceptance-tests/apps/postgresqlapp/go.sum
  acceptance-tests/apps/postgresqlapp/internal/app/app.go
  acceptance-tests/apps/postgresqlapp/internal/app/get.go
  acceptance-tests/apps/postgresqlapp/internal/app/set.go
  acceptance-tests/apps/redisapp/go.mod
  acceptance-tests/apps/redisapp/go.sum
  acceptance-tests/apps/redisapp/internal/app/app.go
  acceptance-tests/apps/redisapp/internal/app/get.go
  acceptance-tests/apps/redisapp/internal/app/set.go
Labels: chore

#1765 chore: remove Chi from DynamoDB Namespace app
  acceptance-tests/apps/dynamodbnsapp/go.mod
  acceptance-tests/apps/dynamodbnsapp/go.sum
  acceptance-tests/apps/dynamodbnsapp/internal/app/app.go
  acceptance-tests/apps/dynamodbnsapp/internal/app/middleware.go
  acceptance-tests/apps/dynamodbnsapp/internal/app/response.go
  acceptance-tests/apps/dynamodbnsapp/internal/app/tables.go
  acceptance-tests/apps/dynamodbnsapp/internal/app/values.go
Labels: chore

#1829 feat: limit access to S3 by VPC ID
  acceptance-tests/aurora_mysql_data_migration_test.go
  acceptance-tests/dynamodb_namespace_data_migration_test.go
  acceptance-tests/helpers/awscli/aws.go
  acceptance-tests/helpers/awscli/dms/dms.go
  acceptance-tests/helpers/awscli/dms/endpoint.go
  acceptance-tests/helpers/awscli/dms/instance.go
  acceptance-tests/helpers/awscli/dms/subnet_group.go
  acceptance-tests/helpers/awscli/dms/task.go
  acceptance-tests/helpers/awscli/vpcendpoint/vpcendpoint.go
  acceptance-tests/mssql_data_migration_test.go
  acceptance-tests/mysql_data_migration_test.go
  acceptance-tests/postgresql_data_migration_test.go
  acceptance-tests/s3withvpcendpoint_test.go
  aws-s3-bucket.yml
  integration-tests/s3_test.go
  terraform-tests/s3_test.go
  terraform/s3/bind/data.tf
  terraform/s3/bind/variables.tf
  terraform/s3/provision/outputs.tf
  terraform/s3/provision/variables.tf
Labels: unscheduled, new-feature

#1855 chore(deps): bump github.com/cloudfoundry/cloud-service-broker/v2
  go.mod
  go.sum
Labels: unscheduled
